body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 50%;
  background: #ffd89b;
  background: -webkit-linear-gradient(to right, #ffd89b, #19547b);
  background: linear-gradient(to right, #f7d6a1, #19547b);
  
}

.heading {
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  height: 16%;
  width: 40%;
  font-size: 0.90rem;
  color: white;
  font-weight: 800;
  /* text-shadow: 1px 1px 1px rgba(209, 209, 209, 0.5); */
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.footer {
  text-align: center;
  font-size: 0.75rem;
  width: 40%;
  color: white;
  font: 800;
  /* text-shadow: 1px 1px 1px rgba(209, 209, 209, 0.5); */
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  width: 35%;
  height: 30%;
  margin-right: 4px;
}

i {
  transform: scale(1.85);
  margin: 0px 24px;
}

.git {
  transform: scale(2.5);
}

.mongo {
  transform: scale(2.5);
}

.django {
  transform: scale(2.5);
}

